<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gestor para crear, asignar y priorizar tareas fácilmente">
    <meta name="keywords" content="crear, asignar, priorizar, tareas, gestor, TaskMaster">
    <meta property="og:description" content="Gestor para crear, asignar y priorizar tareas fácilmente">
    <meta property="og:title" content="Gestor de tareas">
    <meta property="og:image" content="../assets/img/logo.ico">
    <link rel="icon" href="../assets/img/logoico.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet"> -->
    <title>Task Master || Centro de Tareas</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div class="progress-bar" id="progressBar"></div>
        <header>
            <div class="menu">
                <nav class="navegador">
                    <ul>
                        <li><a href="pages/TareasFinalizadas.html">Tareas Finalizadas</a></li>
                        <li><a href="pages/CreadorDeTareas.html">Creador de Tareas</a></li>
                        <li><a href="#">Centro de Tareas</a></li>
                        <li><a href="pages/GestionDePersonal.html">Gestión de Personal</a></li>
                        <li><a href="pages/Acerca&Contacto.html"> Acerca & Contacto</a></li>
                    </ul>
                </nav>
            </div>
        
            <div class="movil">
                <div>
                    <input type="checkbox" id="btn_menu">
                    <label for="btn_menu" class="btn_menu flex_column">
                        <span id="btn_span_1" class="btn_span"></span>
                        <span id="btn_span_2" class="btn_span"></span>
                        <span id="btn_span_3" class="btn_span"></span>
                    </label>
                    <div class="container_flex">
                        <ul class="container_menu flex_column">
                            <li><a href="pages/TareasFinalizadas.html">Tareas Finalizadas</a></li>
                            <li><a href="pages/CreadorDeTareas.html">Creador de Tareas</a></li>
                            <li><a href="#">Centro de Tareas</a></li>
                            <li><a href="pages/GestionDePersonal.html">Gestión de Personal</a></li>
                            <li><a href="pages/Acerca&Contacto.html"> Acerca & Contacto</a></li>
                        </ul>
                    </div>
                </div>
        </header>

        <div class="containermenu">
            <div class="cabezal">
                <div class="cajalogo">
                    <img src="../assets/img/LogoTM-Blanco.png" alt="logo" class="imgcajalogo"></a>
                </div>
                <div class="TaskMaster"><h1>CENTRO DE TAREAS</h1></div>
            </div>

            <main>

            <div id="taskList">
                <h2>Lista de Tareas Pendientes</h2>
                <ul id="tasks"></ul>
            </div>
            <div id="taskList">
                <h2>Guía de prioridad</h2>
                <ul id="tasks"></ul>
            </div>
        </main>
    </div>
    <footer>
        <p>&copy; 2024 Task Master. Todos los derechos reservados.</p>
    </footer>
    <script src="../Scripts/main.js"></script>
</body>
</html>




