body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff0d7  ;
    color: #CC8403;
    overflow-x: hidden;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

}

.containermenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

header div {
    display: flex;
    align-items: center;
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

#taskForm, #taskList {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 48%;
}

.InputDetalles{
    width: 97.3%;
}

.RecuadroTask {
        background: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        width: 48%;
}

h2 {
        color: #000000;
}

#TareasFinalizadas {
    display: flex;
    justify-content: center;
    align-content: center;
}

#taskListFinalizadas {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 75%;
    display: flex;
    justify-content: center;
    align-content: center;
}

h2 {
    margin-top: 0;
}

input, select, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

button {
    background: #FFC205;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #FFE005;
    transition: 500ms;
}

.cabezal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFA104;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
    width: 98%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


/*
Color Base: #FFA104
Análogo 1: #FFB704
Análogo 2: #FF8E04
Tono Claro: #FFD382
Tono Oscuro: #CC8403
*/

.cajalogo {
    display: flex;
    align-items: center;
}

.imgcajalogo {
    max-width: 150px;
}

.TaskMaster {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.progress-bar {
    position: fixed;
    margin-top: 80px;
    left: 0;
    width: 0;
    height: 5px;
    background: linear-gradient(to right, #9c9c9c, #555555);
    z-index: 100000;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.prompt-regular {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .prompt-medium {
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .prompt-medium-italic {
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

.menu{
    /*
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0;*/
}

#calendar {
    max-width: 200px;
    margin: 40px auto;
}

nav {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -250px; /* Oculta la barra fuera de la pantalla */
    top: 0;
    height: 75%;
    justify-content: center;
    align-items: center;
    background-color: #FFA104;
    transition: right 1.75s ease; /* Añade una transición suave */
    z-index: 10000;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px 0px 0px 50px;
}

nav.visible {
    right: 0; /* Muestra la barra */
}

.centradoMain{
    display: flex;
    justify-content: center;
    align-items: center;
}

.CampoCreacionForm {
    padding-top: 5px;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Distribuye los elementos uniformemente */
    align-items: center;
    height: 100%; /* Asegura que el ul ocupe todo el espacio disponible */
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

ul li {
    transition: padding 1.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li:hover {
    padding-left: 8px;
    padding-right: 8px;
    transition: padding 3.75s ease-in-out; /* Añade una transición suave */
}

ul li a {
    font-family: "Yellowtail", cursive;
    font-weight: 500;
    font-style: normal;
    transition: 0.5s;
}

ul li:hover a {
    background: #ffb53a;
    color: white;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: padding 0.5s ease-in-out;
    transition: 0.5s;
    font-size: 1.5em;
}

.movil {
    display: none;
}

.container_flex {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    z-index: 2400;
}

.container_menu {
    position: absolute;
    top: 0;
    right: -100vw;
    width: 100%;
    height: 90vh;
    transition: all .5s ease;
    z-index: 2450;
}

.DatosDeInteres{
    display: flex;
    flex-direction: column;
}

.DatosDeInteres p{
    color: black;
    }

.DatosDeInteres a{
    color: #FFA104;
}

.no-scroll-textarea {
    width: 99.3%; /* Fija el ancho */
    height: 50px; /* Fija la altura */
    resize: none; /* Evita que el usuario cambie el tamaño del textarea */
    overflow: hidden; /* Oculta cualquier contenido que exceda el tamaño */
}

.chequi{
display: flex;
flex-direction: row;
}

.redes {
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: start;
	padding: 10px;
	list-style: none;
    width: 8%;
}

#btn_menu,
.btn_menu {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 50;
}

#btn_menu {
    display: none;
}

.btn_menu {
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 30px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    
}

.btn_span {
    position: absolute;
    top: 18px;
    width: 30px;
    height: 5px;
    background: black;
    transition: all .3s ease;
}

.btn_span:nth-child(2) {
    top: 28px
}

.btn_span:nth-child(3) {
    top: 38px
}

#btn_menu:checked~.btn_menu #btn_span_1 {
    top: 28px;
    transform: rotate(45deg);
    width: 30px;
    height: 5px;
}

#btn_menu:checked~.btn_menu #btn_span_2 {
    opacity: 0;
}

#btn_menu:checked~.btn_menu #btn_span_3 {
    top: 28px;
    transform: rotate(-45deg);
    width: 30px;
    height: 5px;
}

.container_flex {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    z-index: 2400;
}

.container_menu {
    position: absolute;
    top: 0;
    right: -100vw;
    width: 100%;
    height: 89vh;
    background: linear-gradient(to right, #9c9c9c, #555555);
    transition: all .5s ease;
    z-index: 2450;
}

#btn_menu:checked~.container_flex .container_menu {
    right: 0;
}

#btn_menu:not(:checked)~.container_flex {
display: none;
}


/* Estilos para el ícono de hamburguesa */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    background: linear-gradient(to right, #9c9c9c, #555555);
    flex-direction: column;
    width: 100vw;
}

footer {
    background-color: #ffe1b0 ;
    color: #fff;
    text-align: center;
    padding-top: 0px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 5000;
}

footer p {
margin-top: 5px;
margin-bottom: 5px;
color: #ffffff;
font-size: 0.8em;
}

.TaskMaster h1,
.yellowtail-regular {

text-shadow: 1px 1px 1px #ac5c00;
}

.TaskMaster h1 {
    font-size: 3em;

}

/* -------------------------------------------------------------------------------------------------- */

@media (max-width: 768px) {

    body{
        z-index: 3000;
    }

    header {
        color: #fff;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50px;
        position: fixed;
        width: 100%;
        z-index: 2500;
    }

    .progress-bar {
        display: none;
    }

    .cajalogo {
        position: absolute;
        z-index: 2510;
        left: 20px;
        top: 10px;
    }

    .imgcajalogo {
        max-height: 60px;
        position: absolute;
        left: 1px;
        top: 1px;
    }

    .introduccion {
        background-size: auto 100vh;
    }

    .menu {
        display: none;
    }

    .info img,
    .info2 img {
        width: 90%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 10px;
    }

   

    .introduccion p {
        font-size: 1.25em;
    }

    a {
        display: block;
        text-decoration: none;
        font-size: 2em;
        color: #fff;
        text-transform: capitalize;
    }


    .flex_column {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;

    }

    .felx_row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .movil {
        width: 100%;
        height: 0;
        display: block;
        position: relative;
        top: 65px;
        left: -15px;
    }

    #btn_menu,
    .btn_menu {
        position: fixed;
        top: 10px;
        right: 20px;
        z-index: 50;
    }

    #btn_menu {
        display: none;
    }

    .btn_menu {
        width: 60px;
        height: 60px;
        background: white;
        border-radius: 30px;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
        
    }

    .btn_span {
        position: absolute;
        top: 18px;
        width: 30px;
        height: 5px;
        background: black;
        transition: all .3s ease;
    }

    .btn_span:nth-child(2) {
        top: 28px
    }

    .btn_span:nth-child(3) {
        top: 38px
    }

    #btn_menu:checked~.btn_menu #btn_span_1 {
        top: 28px;
        transform: rotate(45deg);
        width: 30px;
        height: 5px;
    }

    #btn_menu:checked~.btn_menu #btn_span_2 {
        opacity: 0;
    }

    #btn_menu:checked~.btn_menu #btn_span_3 {
        top: 28px;
        transform: rotate(-45deg);
        width: 30px;
        height: 5px;
    }

    .container_flex {
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        z-index: 2400;
    }

    .container_menu {
        position: relative;
        top: 0;
        right: -100vw;
        width: 100%;
        height: 89vh;
        background: linear-gradient(to right, #9c9c9c, #555555);
        transition: all .5s ease;
        z-index: 2450;
    }

    #btn_menu:checked~.container_flex .container_menu {
        right: 0;
    }

    #btn_menu:not(:checked)~.container_flex {
    display: none;
    }

    footer p {
    font-size: 0.75em;
    text-shadow: 2px 4px 8px #272727;
    }
}